.heading{
    margin-left: 45px;
    font-family: Poppins;
    font-size: 45px;
    color: #192F60;
}

.filter{
    display: inline-block;
    height: 495px;
    width: 200px;
    margin-left: 45px;
    color:#192F60;
    box-shadow:0px 3px 6px #00000029;
    font-family: poppins;
    font-size: 14px; 
}


.filter > label{
    font-family: poppins;
    margin-left: 10px;
    color:#192F60;
}

.filter_span{
    margin-left: 10px;
    color:#192F60;
    font-size:large;
}

.side_box{
    display:block;
    float:right;
    margin-right: 530px;
    box-shadow: 0px 3px 6px #00000029;
    height: 230px;
}

.side_box_image{
    margin-top: 10px;
    border-radius:20px;
    margin-left: 10px;
    height:100px;
}

.side_box_inner_box{
    display:block;
    height: 230px;
    width: 700px;
    box-shadow: 0px 3px 6px #00000029;
}

.side_box_inside_box_inner_box{
    float: right;
    height: 125px;
    width: 250px;
    margin-right: 80px;
    color:#192F60
}

.side_box_inside_box_inner_box_below{
    display:block;
    float: left;
    margin-left: 30px;
    color:#192F60
}

.side_box_inside_box_inner_box_below_description{
    display:block;
    float: right;
    margin-left: 30px;
    margin-right:250px;
    color:#192F60
}

.pagination{
    display: block;
    float: right;
    margin-right:10%;
    color: #8C96AB;
}

.pagination a{
    border: 1px solid;
    border-radius: 5px;
    padding: 7px;
    margin:5px;
    width: 5px;
    height: 5px;
    text-decoration: none;
}

.pagination a.active{
    background-color: gray;
    color: white;
}

.pagination a:hover:not(.active){
    background-color: gray;
    color: white;
}
