        .main-body{
            height: 2000px;

        }

        .pic{
            background-image:linear-gradient(to top right,#4F0707,#9D0E0E00),url('../Assets/logo_pic.png')  ;
            height: 25%;
        }

        .pic-flex{
            margin-left: 28%;
           
        }

        .logo{
            font-size: 5rem;
            color: #EB2929;
            font-family: sans-serif;
            padding-left: 5%;
            padding-bottom: 1%;
            width: 21%;
        }

        .location-box{
            width: 210px;
            height:59px
        }

        .search-box{
            width: 64%;
            display: inline-block;
        }

        .box-div{
            width: 104%;
        }
        

        @media(max-width:343px){
            
            .login-div{
                width: 94%;
            }

            .pic-flex{
                margin-left: 0%;
                margin-top: 5%;
            }

            .logo{
                width: 120px;
            }

            .search-box{
            width: 89%;
            margin-left: 2%;
        }

        .search-box-icon{
            margin-top: 8%;
        }

        }

        @media(min-width:343px) and (max-width:576px){
            .pic-flex{
                margin-left: 0%;
                margin-top: 1%;
            }

            .logo{
                width: 120px;
            }
            
            .login-div{
                width: 86%;
            }

            .box-div{
                margin-left: 12%;
                width: 94%;
            }

            .search-box{
                width: 90%;
            }

            .search-box-icon{
                margin-top: 7%;
            }

            .pic-title{
                margin-left:36px;
            }

        }

        @media(min-width:525px) and (max-width:550px)
        {
            
            .pic-title{
            margin-left:10%;
        }
        }

        @media(min-width:550px) and (max-width:576px)
        {
            
            .pic-title{
            margin-left:12%;
        }
        }

        @media(width:576px){
            .pic-title{
            margin-left:8%;
        }
        }

        @media(max-width:240px){
            .main-body{
                width: 111%;
            }
            
            .login-div{
                width: 84%;
                font-size: 7px;
            }

            .pic-flex {
                margin-left: -5%;
                margin-top: 5%;
            }

            .items-heading{
                color:#192F60;
                font-size:30px;
                margin-left:0%;
            }
            
            .box-div{
                margin-left: 4%;
            }
            
            .row-div{
                height: 30%;
            }

            .row-items{
                width: 92%;
                height: 100%;
                margin-left: -9%;
            }

            .col-items{
                width: 132%;
                height: 85%;
            }

            .item-1{
                display: inline-block;
                width: 50%;
                height: 100%;
            }

            .item-1-image{
                width: 98%;
                height: 100%;
            }

            .item-2{
                display:block;
                width: 45%;
                height: 100%;
                float: right;
                padding-top: 6%;
                margin-right: 2%;
            }

            .item-2-heading{
                font-size: 1.15rem;
            }
        }

        @media(min-width:240px) and (max-width:280px){
            
            .login-div{
                width: 84%;
                font-size: 7px;
            }

            .pic-flex {
                margin-left: -5%;
                margin-top: 5%;
            }

            .box-div{
                margin-left: 5%;
            }

            

            .items-heading{
                color:#192F60;
                font-size:30px;
                margin-left:0%;
            }
            
            
            .row-div{
                height: 30%;
            }

            .row-items{
                width: 92%;
                height: 100%;
                margin-left: -9%;
            }

            .col-items{
                width: 132%;
                height: 85%;
            }

            .item-1{
                display: inline-block;
                width: 50%;
                height: 100%;
            }

            .item-1-image{
                width: 98%;
                height: 100%;
            }

            .item-2{
                display:block;
                width: 45%;
                height: 100%;
                float: right;
                padding-top: 6%;
                margin-right: 2%;
            }

            .item-2-heading{
                font-size: 1.15rem;
            }
        }

        @media(min-width:280px) and (max-width:332px){
            
            .login-div{
                width: 85%;
                font-size: 9px;
            }

            .items-heading{
                color:#192F60;
                font-size:30px;
                margin-left:0%;
            }
            
            
            .row-div{
                height: 30%;
            }

            .row-items{
                width: 92%;
                height: 100%;
                margin-left: -9%;
            }

            .col-items{
                width: 125%;
                height: 85%;
            }

            .item-1{
                display: inline-block;
                width: 50%;
                height: 100%;
            }

            .item-1-image{
                width: 98%;
                height: 100%;
            }

            .item-2{
                display:block;
                width: 45%;
                height: 100%;
                float: right;
                padding-top: 6%;
                margin-right: 2%;
            }

            .item-2-heading{
                font-size: 1.25rem;
            }
        }

        @media(min-width:332px) and (max-width:576px){
            
            .items-heading{
                color:#192F60;
                font-size:30px;
                margin-left:6%;
            }
            
            
            .row-div{
                height: 30%;
            }

            .row-items{
                width: 92%;
                height: 100%;
                margin-left: 5%;
            }

            .col-items{
                width: 103%;
                height: 85%;
            }

            .item-1{
                display: inline-block;
                width: 50%;
                height: 100%;
            }

            .item-1-image{
                width: 98%;
                height: 100%;
            }

            .item-2{
                display:block;
                width: 45%;
                height: 100%;
                float: right;
                padding-top: 6%;
                margin-right: 2%;
            }

            .item-2-heading{
                font-size: 1.65rem;
            }
        }
        
        @media(min-width:576px) and (max-width:768px){
            .pic-flex{
                margin-left: 3%;
                margin-top: 5%;
            }

            .logo{
                width: 26%;
            }

            .box-div{
                width: 107%;
            }

            .search-box{
                width: 93%;
            }

            .search-box-icon{
                margin-top: 6%;
            }


            .items-heading{
                color:#192F60;
                font-size:30px;
                margin-left:7%;
            }
            
            .row-div{
                height: 30%;
            }

            .row-items{
                width: 92%;
                height: 100%;
                margin-left: 5%;
            }

            .col-items{
                width: 103%;
                height: 85%;
            }

            .item-1{
                display: inline-block;
                width: 50%;
                height: 100%;
            }

            .item-1-image{
                width: 98%;
                height: 100%;
            }

            .item-2{
                display:block;
                width: 45%;
                height: 100%;
                float: right;
                padding-top: 6%;
                margin-right: 2%;
            }

            .item-2-heading{
                font-size: 1.85rem;
            }
        }

        @media(min-width:768px) and (max-width:992px){
            .pic-flex{
                margin-left: 7%;
                margin-top: 19%;
            }

            .logo{
                width: 22%;
            }

            .search-box-button{
                width: 64%;
            }

            .search-box{
                width: 93%;
            }

            .search-box-icon{
                margin-top: 4%;
            }

            .items-heading{
                color:#192F60;
                font-size:30px;
                margin-left:7%;
            }

            .row-div{
                height: 24%;
            }

            .row-items{
                width: 92%;
                height: 100%;
                margin-left: 5%;
            }

            .col-items{
                width: 103%;
                height: 85%;
            }

            .item-1{
                display: inline-block;
                width: 50%;
                height: 100%;
            }

            .item-1-image{
                width: 98%;
                height: 100%;
            }

            .item-2{
                display:block;
                width: 45%;
                height: 100%;
                float: right;
                padding-top: 6%;
                margin-right: 2%;
            }

            .item-2-heading{
                font-size: 1.85rem;
            }
        }

        @media(min-width:992px) and (max-width:1200px){
            .pic-flex{
                margin-top: 14%;
                margin-left: 20%;
            }

            .search-box-button{
                width: 64%;
            }

            .search-box{
                width: 93%;
            }

            .search-box-icon{
                margin-top: 4%;
            }

            .items-heading{
                color:#192F60;
                font-size:30px;
                margin-left:2%;
            }

            .row-div{
                height: 12%;
            }

            .row-items{
                width: 100%;
                height: 105%;
                margin-left: 0%;
            }

            .col-items{
                width: 100%;
                height: 71%;
            }

            .item-1{
                display: inline-block;
                width: 50%;
                height: 100%;
            }

            .item-1-image{
                width: 98%;
                height: 100%;
            }

            .item-2{
                display:block;
                width: 45%;
                height: 100%;
                float: right;
                padding-top: 6%;
                margin-right: 2%;
            }

            .item-2-heading{
                font-size: 1.85rem;
            }
        }

        @media(width:1200px){
            .pic-flex {
                margin-top: 12%;
                margin-left: 25%;
            }
        }

        @media(min-width:1201px) and (max-width:1400px){
            .pic-flex{
                margin-top: 12%;
            }
            
            .search-box-button{
                width: 64%;
            }

            .search-box{
                width: 93%;
            }

            .search-box-icon{
                margin-top: 4%;
            }


            .items-heading{
                color:#192F60;
                font-size:30px;
                margin-left:7%;
            }

            .row-div{
                height: 8%;
            }

            .row-items{
                width: 92%;
                height: 88%;
                margin-left: 5%;
            }

            .col-items{
                width: 103%;
                height: 100%;
            }

            .item-1{
                display: inline-block;
                width: 50%;
                height: 100%;
            }

            .item-1-image{
                width: 98%;
                height: 100%;
            }

            .item-2{
                display:block;
                width: 45%;
                height: 100%;
                float: right;
                padding-top: 5%;
            }

            .item-2-heading{
                font-size: 1.75rem;
            }
        }

        @media(min-width:1400px){
            .pic-flex{
                margin-top: 14%;
            }

            .search-box-button{
                width: 64%;
            }

            .search-box{
                width: 93%;
            }

            .search-box-icon{
                margin-top: 4%;
            }

            .items-heading{
                color:#192F60;
                font-size:30px;
                margin-left:7%;
            }

            .row-div{
                height: 15%;
            }

            .row-items{
                width: 90%;
                margin-left: 5%;
                height: 90%;
            }

            .col-items{
                width: 103%;
                height: 100%;
            }

            .item-1{
                display:inline-block;
                width: 55%;
                height: 100%;
            }

            .item-1-image{
                height: 100%;
                width: 100%;
            }

            .item-2{
                display:block;
                width: 40%;
                height: 100%;
                float: right;
                padding-top: 10%;
            }

            .item-2-heading{
                font-size: 1.75rem;
            }
        }